# Project 3 - Part 4 Hypothesis Testing

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import json 
import tmdbsimple as tmdb
import time

## Collecting more Data

In [19]:
# Load previous dataframes
basics = pd.read_csv("Data/title_basics.csv.gz")

In [20]:
# Login
with open("/Users/samlagana/.secret/tmdb_api.json", "r") as f:
    login = json.load(f)
# Display keys of dict
login.keys()

dict_keys(['api-key'])

In [21]:
tmdb.API_KEY = login["api-key"]

In [22]:
# Make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

# Movie objects .info dict
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/ncEsesgOJDNrTUED89hYbA117wo.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 63.733,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 21660}

In [23]:
# Movie with rating function 
def get_movie_with_rating(movie_id):
    # Get the movie object for current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dict
    movie_info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases["countries"]:
        # if the country is == US
        if c["iso_3166_1"]== "US":
            movie_info["certification"]= c["certification"]
    return movie_info

In [24]:
import os 
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok = True)
os.listdir(FOLDER)

['tmdb_api_results_2010.json',
 'final_tmdb_data2011.csv.gz',
 'final_tmdb_data2001.csv.gz',
 'final_tmdb_data2013.csv.gz',
 'tmdb_api_results_2011.json',
 'final_tmdb_data2017.csv.gz',
 'final_tmdb_data-9.csv.gz',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'tmdb_api_results_2017.json',
 'final_tmdb_data2019.csv.gz',
 'final_tmdb_data2015.csv.gz',
 'final_tmdb_data2010.csv.gz',
 'tmdb_api_results_-9.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2019.json',
 'final_tmdb_data2000.csv.gz',
 'final_tmdb_data2012.csv.gz',
 'tmdb_api_results_2012.json',
 'final_tmdb_data2016.csv.gz',
 'title_akas.csv.gz',
 'tmdb_results_combined.csv.gz',
 'final_tmdb_data2018.csv.gz',
 'final_tmdb_data2014.csv.gz',
 'tmdb_api_results_2013.json',
 'title_ratings.csv.gz']

In [25]:
def write_json(new_data, filename):
    """"Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""
    
    with open(filename, "r+") as file:
        # First we load existing data into dict
        file_data = json.load(file)
        #chose extend or append
        if (type(new_data)==list) & (type(file_data)== list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        # Sets file's current position as offset
        file.seek(0)
        # convert back to json 
        json.dump(file_data, file)

In [26]:
YEARS_TO_GET = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]

In [27]:
YEAR = YEARS_TO_GET[0]
YEAR

2010

In [28]:
# Start of outer loop 
#for YEAR in tqdm_notebook(YEARS_TO_GET, desc = "YEARS",
                         position = 0):

    # Defining JSON file to store results for year
    JSON_FILE = f"{FOLDER}tmdb_api_results_{YEAR}.json"
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)


    # if it does not exist
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file
        with open(JSON_FILE,"w") as f:
            json.dump([{"imdb_id":0}],f)

    #Saving new year as the current df
    df = basics.loc[basics["startYear"]==YEAR].copy()
    #saving movide ids to list
    movie_ids= df["tconst"].copy()#.to_list()
    movie_ids

    # Load in existing data from json info df called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df

    # filter out any ids that are already in the JSON FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df["imdb_id"])]

    # Get index and movie id from list
    # INNER Loop 
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                 desc= f"Movies from{YEAR}",
                                 position = 1,
                                 leave = True):
        # Attempt to retrieve the data for the movie id 
        try: 
            temp = get_movie_with_rating(movie_id) # uses pre-made function
                #Append/Extend results to exisiting file using premade funct
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        # if it fails, make a dict with just id and none for certification
        except Exception as e:
            continue
   
    # Saving final df
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data{YEAR}.csv.gz",compression = "gzip", index = False)

IndentationError: unexpected indent (2894801905.py, line 3)

In [48]:
# Checking what data we already in our Data folder using os.listdir
import os 
FOLDER ="Data/"
file_list = sorted(os.listdir(FOLDER))
file_list

['.ipynb_checkpoints',
 'final_tmdb_data2000.csv.gz',
 'final_tmdb_data2001.csv.gz',
 'final_tmdb_data2010.csv.gz',
 'final_tmdb_data2011.csv.gz',
 'final_tmdb_data2012.csv.gz',
 'final_tmdb_data2013.csv.gz',
 'final_tmdb_data2014.csv.gz',
 'final_tmdb_data2015.csv.gz',
 'final_tmdb_data2016.csv.gz',
 'final_tmdb_data2017.csv.gz',
 'final_tmdb_data2018.csv.gz',
 'final_tmdb_data2019.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_-9.json',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_results_combined.csv.gz']

In [49]:
import glob
q = FOLDER+"final*.csv.gz"
q

'Data/final*.csv.gz'

In [50]:
# useglob.glob to get complete filepaths
file_list = glob.glob(q)
file_list

['Data/final_tmdb_data2011.csv.gz',
 'Data/final_tmdb_data2001.csv.gz',
 'Data/final_tmdb_data2013.csv.gz',
 'Data/final_tmdb_data2017.csv.gz',
 'Data/final_tmdb_data2019.csv.gz',
 'Data/final_tmdb_data2015.csv.gz',
 'Data/final_tmdb_data2010.csv.gz',
 'Data/final_tmdb_data2000.csv.gz',
 'Data/final_tmdb_data2012.csv.gz',
 'Data/final_tmdb_data2016.csv.gz',
 'Data/final_tmdb_data2018.csv.gz',
 'Data/final_tmdb_data2014.csv.gz']

In [51]:
# load data
pd.read_csv(file_list[0],lineterminator="\n")

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0176694,0.0,/43VrmHOChLcAOG9S5tIFdsxr3u8.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,116369.0,en,Az ember tragédiája,...,0.0,166.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,The Tragedy of Man,0.0,7.5,13.0,NaN
2,tt0210470,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,239465.0,en,50 Feet of String,...,0.0,53.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,50 Feet of String,0.0,6.0,3.0,NaN
3,tt0323808,0.0,NaN,NaN,7750000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.thewickertreemovie.com/,79544.0,en,The Wicker Tree,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Accept our sacrifice,The Wicker Tree,0.0,3.9,41.0,R
4,tt0372538,0.0,NaN,NaN,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.spythemovie.com/,323867.0,en,Spy,...,0.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Spy,0.0,7.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2905,tt9282946,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,490059.0,ko,도약선생,...,0.0,65.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,NaN,Dr. Jump,0.0,7.0,1.0,NaN
2906,tt9385434,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,566831.0,ja,お米とおっぱい。,...,0.0,102.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Rice and Boobs,0.0,0.0,0.0,NaN
2907,tt9452878,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,108925.0,en,The Wrong Ferarri,...,0.0,72.0,[],Released,NaN,The Wrong Ferarri,0.0,2.0,1.0,NaN
2908,tt9519786,0.0,/oof2qSqrH1PAe9yEaBnId1P326G.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,874426.0,zh,North point,...,0.0,0.0,[],Released,NaN,North point,0.0,0.0,0.0,NaN
2909,tt9547900,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,922954.0,zh,百年情书,...,0.0,0.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,NaN,百年情书,0.0,0.0,0.0,NaN

In [52]:
q = FOLDER+"**/final*.csv.gz"
file_list = glob.glob(q, recursive = True)
file_list

['Data/final_tmdb_data2011.csv.gz',
 'Data/final_tmdb_data2001.csv.gz',
 'Data/final_tmdb_data2013.csv.gz',
 'Data/final_tmdb_data2017.csv.gz',
 'Data/final_tmdb_data2019.csv.gz',
 'Data/final_tmdb_data2015.csv.gz',
 'Data/final_tmdb_data2010.csv.gz',
 'Data/final_tmdb_data2000.csv.gz',
 'Data/final_tmdb_data2012.csv.gz',
 'Data/final_tmdb_data2016.csv.gz',
 'Data/final_tmdb_data2018.csv.gz',
 'Data/final_tmdb_data2014.csv.gz']

In [53]:
df_list = []
for file in file_list:
    temp_df = pd.read_csv(file,lineterminator="\n")
    df_list.append(temp_df)
len(df_list)

12

In [54]:
# ## use a list comprehension to load in all files into 1 dataframe
df = pd.concat([ pd.read_csv(file, lineterminator='\n') for file in file_list])
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0176694,0.0,/43VrmHOChLcAOG9S5tIFdsxr3u8.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,116369.0,en,Az ember tragédiája,...,0.0,166.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,The Tragedy of Man,0.0,7.5,13.0,NaN
2,tt0210470,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,239465.0,en,50 Feet of String,...,0.0,53.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,50 Feet of String,0.0,6.0,3.0,NaN
3,tt0323808,0.0,NaN,NaN,7750000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.thewickertreemovie.com/,79544.0,en,The Wicker Tree,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Accept our sacrifice,The Wicker Tree,0.0,3.9,41.0,R
4,tt0372538,0.0,NaN,NaN,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.spythemovie.com/,323867.0,en,Spy,...,0.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Spy,0.0,7.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3621,tt8942834,0.0,/pKBw9gnptdANzDGX6amFGWmlrpK.jpg,NaN,0.0,"[{'id': 10402, 'name': 'Music'}]",NaN,345474.0,en,Above & Beyond: Acoustic,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Above & Beyond: Acoustic,1.0,10.0,1.0,NaN
3622,tt9085782,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,668763.0,kn,Power,...,6293794.0,173.0,"[{'english_name': 'Kannada', 'iso_639_1': 'kn'...",Released,NaN,Power,0.0,5.0,2.0,NaN
3623,tt9208638,0.0,NaN,NaN,500.0,"[{'id': 27, 'name': 'Horror'}]",https://midnightreleasing.com/filmcatalog/carn...,782140.0,en,Carnivale Creepshow,...,0.0,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Come on in...to where the nightmares begin!,Carnivale Creepshow,0.0,2.0,1.0,NaN
3624,tt9287460,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",NaN,415457.0,en,Max Saves the World,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Max Saves the World,0.0,0.0,0.0,NaN
3625,tt9387330,0.0,/e62gV9Y4JkJyjedAw9UVBZBbSH5.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,465566.0,zh,你是男的我也爱,...,0.0,98.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,NaN,Like Love,0.0,7.0,1.0,NaN

In [55]:
# remove ids that are 0 
df = df.loc[df["imdb_id"]!="0"]
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0176694,0.0,/43VrmHOChLcAOG9S5tIFdsxr3u8.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,116369.0,en,Az ember tragédiája,...,0.0,166.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,The Tragedy of Man,0.0,7.5,13.0,NaN
2,tt0210470,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,239465.0,en,50 Feet of String,...,0.0,53.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,50 Feet of String,0.0,6.0,3.0,NaN
3,tt0323808,0.0,NaN,NaN,7750000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.thewickertreemovie.com/,79544.0,en,The Wicker Tree,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Accept our sacrifice,The Wicker Tree,0.0,3.9,41.0,R
4,tt0372538,0.0,NaN,NaN,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.spythemovie.com/,323867.0,en,Spy,...,0.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Spy,0.0,7.0,1.0,NaN
5,tt0376136,0.0,/lsGygPY9Qt2OclZ67hAYoHLQhAf.jpg,NaN,45000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,23514.0,en,The Rum Diary,...,24000000.0,120.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,One part outrage. One part justice. Three part...,The Rum Diary,0.0,5.9,980.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3621,tt8942834,0.0,/pKBw9gnptdANzDGX6amFGWmlrpK.jpg,NaN,0.0,"[{'id': 10402, 'name': 'Music'}]",NaN,345474.0,en,Above & Beyond: Acoustic,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Above & Beyond: Acoustic,1.0,10.0,1.0,NaN
3622,tt9085782,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,668763.0,kn,Power,...,6293794.0,173.0,"[{'english_name': 'Kannada', 'iso_639_1': 'kn'...",Released,NaN,Power,0.0,5.0,2.0,NaN
3623,tt9208638,0.0,NaN,NaN,500.0,"[{'id': 27, 'name': 'Horror'}]",https://midnightreleasing.com/filmcatalog/carn...,782140.0,en,Carnivale Creepshow,...,0.0,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Come on in...to where the nightmares begin!,Carnivale Creepshow,0.0,2.0,1.0,NaN
3624,tt9287460,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",NaN,415457.0,en,Max Saves the World,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Max Saves the World,0.0,0.0,0.0,NaN
3625,tt9387330,0.0,/e62gV9Y4JkJyjedAw9UVBZBbSH5.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,465566.0,zh,你是男的我也爱,...,0.0,98.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,NaN,Like Love,0.0,7.0,1.0,NaN

In [56]:
# save combined df to csv
df.to_csv("Data/combined_all_data.csv.gz", compression = "gzip", index = False)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39348 entries, 1 to 3625
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                39348 non-null  object
 1   adult                  39348 non-null  float64
 2   backdrop_path          24819 non-null  object
 3   belongs_to_collection  2464 non-null   object
 4   budget                 39348 non-null  float64
 5   genres                 39348 non-null  object
 6   homepage               10031 non-null  object
 7   id                     39348 non-null  float64
 8   original_language      39348 non-null  object
 9   original_title         39348 non-null  object
 10  overview               38446 non-null  object
 11  popularity             39348 non-null  float64
 12  poster_path            35869 non-null  object
 13  production_companies   39348 non-null  object
 14  production_countries   39348 non-null  object
 15  release_date           38761 non-null  object
 16  revenue                39348 non-null  float64
 17  runtime                38810 non-null  float64
 18  spoken_languages       39348 non-null  object
 19  status                 39348 non-null  object
 20  tagline                14049 non-null  object
 21  title                  39348 non-null  object
 22  video                  39348 non-null  float64
 23  vote_average           39348 non-null  float64
 24  vote_count             39348 non-null  float64
 25  certification          8937 non-null   object
dtypes: float64(9), object(17)
memory usage: 8.1+ MB

## Adding data to SQL Database

In [70]:
# Imports 
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

connection_str = "mysql+pymysql://root:Runner1!28@localhost/movies"

In [62]:
# Create engine
engine = create_engine(connection_str)

In [63]:
## Check if database exists, if not, create it
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

In [64]:
# changing name of df for functionality purpose
tmdb_data = df

In [65]:
# Keep only necessary columns
tmdb_data = tmdb_data[["imdb_id","revenue","budget","certification"]]

In [66]:
tmdb_data.head()

     imdb_id     revenue      budget certification
1  tt0176694         0.0         0.0           NaN
2  tt0210470         0.0         0.0           NaN
3  tt0323808         0.0   7750000.0             R
4  tt0372538         0.0   5000000.0           NaN
5  tt0376136  24000000.0  45000000.0             R

In [67]:
# rename imdb_id to tconst
tmdb_data.rename(columns = {"imdb_id":"tconst"},inplace = True)

/opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [68]:
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39348 entries, 1 to 3625
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         39348 non-null  object
 1   revenue        39348 non-null  float64
 2   budget         39348 non-null  float64
 3   certification  8937 non-null   object
dtypes: float64(2), object(2)
memory usage: 1.5+ MB

In [71]:
# Calculate max string lengths for object columns
imdb_id_len = tmdb_data["tconst"].fillna('').map(len).max()
cert_len = tmdb_data["certification"].fillna('').map(len).max()
# Create scheme dict sqlalachemy datatype objects
df_scheme = {
    "tconst": String(imdb_id_len+1),
    "budget":Float(),
    "revenue":Float(),
    "certification":Text(cert_len+1)}

In [72]:
# Save to sql 
tmdb_data.to_sql("tmdb_data",engine,dtype=df_scheme, if_exists = "replace", index = False)