In [1]:
import pandas as pd
import numpy as np

In [2]:
# title.basics.tsv.gz url
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
# load basic URL
basics = pd.read_csv(basics_url, sep='\t', low_memory = False)

In [3]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
# title.ratings.tsv.gz
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
# Load raitings URL
ratings = pd.read_csv(ratings_url, sep='\t', low_memory = False)

In [5]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1883
1  tt0000002            5.9       250
2  tt0000003            6.5      1668
3  tt0000004            5.8       163
4  tt0000005            6.2      2490

In [6]:
# title.akas.tsv.gz
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
# Load akas URL
akas = pd.read_csv(akas_url, sep='\t', low_memory = False)

In [7]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

## Replacing \N with nan

In [41]:
# Replacing \N in basics
basics.replace({"\\N":np.nan}, inplace = True)

In [9]:
# Confirm Replacement 
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [10]:
# Replace \N in ratings
ratings.replace({"\\N":np.nan}, inplace = True)

In [11]:
#Replace \N in akas
akas.replace({"\\N":np.nan}, inplace = True)

In [12]:
# Confirm replacement 
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

## Basics Processing

In [13]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [14]:
# Eliminate movies that are null for runtimeMinutes 
basics.dropna(subset = ["runtimeMinutes"], inplace = True)

In [15]:
# Confirm drop
basics["runtimeMinutes"].isnull().sum()

0

In [16]:
# Eliminate movies that are null for genre
basics.dropna(subset = ["genres"], inplace = True)

In [17]:
# Confirm Drop 
basics["genres"].isnull().sum()

0

In [18]:
basics["titleType"].value_counts()

tvEpisode       1030309
short            566024
movie            361522
video            173016
tvMovie           87598
tvSeries          85331
tvSpecial         16109
tvMiniSeries      15616
tvShort            9303
videoGame           290
Name: titleType, dtype: int64

In [19]:
# keep only titleType==Movie
basics = basics.loc[(basics["titleType"]=="movie")]

In [20]:
# Confirm 
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"
1273,tt0001285,movie,The Life of Moses,The Life of Moses,0,1909,NaN,50,"Biography,Drama,Family"

In [21]:
# keep startYear 2000-2022
basics = basics.loc[(basics["startYear"]>"1999")&(basics["startYear"]<"2022")]

In [22]:
# Confirm
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,133,Documentary
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"

In [23]:
# Eliminate movies that include  "Documentary" in genre (see tip below)
is_doc = basics["genres"].str.contains("documentary", case = False)
basics = basics[~is_doc]

In [24]:
#Confirm
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

## AKAS Processing

In [25]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [26]:
# keep only US entries
akas = akas.loc[(akas["region"]== "US")]

In [27]:
# Confirm
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

## Filtering dataframes

In [28]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics["tconst"].isin(akas["titleId"])
keepers

34805       True
61119       True
67672       True
77968      False
86806       True
           ...
8966329     True
8966338     True
8966377    False
8966422     True
8966506    False
Name: tconst, Length: 135926, dtype: bool

In [29]:
# filter basics
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91077,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
8965793,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
8966189,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
8966329,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
8966338,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
8966422,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [30]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79310 entries, 34805 to 8966422
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79310 non-null  object
 1   titleType       79310 non-null  object
 2   primaryTitle    79310 non-null  object
 3   originalTitle   79310 non-null  object
 4   isAdult         79310 non-null  object
 5   startYear       79310 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  79310 non-null  object
 8   genres          79310 non-null  object
dtypes: object(9)
memory usage: 6.1+ MB

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250031 entries, 0 to 1250030
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1250031 non-null  object
 1   averageRating  1250031 non-null  float64
 2   numVotes       1250031 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB

In [32]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1325448 entries, 5 to 32176986
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1325448 non-null  object
 1   ordering         1325448 non-null  int64
 2   title            1325448 non-null  object
 3   region           1325448 non-null  object
 4   language         3551 non-null     object
 5   types            1025718 non-null  object
 6   attributes       44092 non-null    object
 7   isOriginalTitle  1324073 non-null  object
dtypes: int64(1), object(7)
memory usage: 91.0+ MB

In [33]:
# # example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title_basics.csv.gz', 'title_akas.csv.gz', 'title_ratings.csv.gz']

In [34]:
# Save basics
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [35]:
# Confirm
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [36]:
# Save ratings
ratings.to_csv("Data/title_ratings.csv.gz", compression = "gzip", index = False)

In [37]:
# confirm 
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1883
1  tt0000002            5.9       250
2  tt0000003            6.5      1668
3  tt0000004            5.8       163
4  tt0000005            6.2      2490

In [38]:
# Save akas 
akas.to_csv("Data/title_akas.csv.gz", compression = "gzip", index = False)

In [39]:
# confrim 
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

## Project 3 - Part 2

In [43]:
# Install tmbdsimple 
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages (2.9.1)
Requirement already satisfied: requests in /opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages (from tmdbsimple) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages (from requests->tmdbsimple) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages (from requests->tmdbsimple) (2021.10.8)

In [44]:
import json
with open("/Users/samlagana/.secret/tmdb_api.json", "r") as f:
    login = json.load(f)
# Display keys of dict
login.keys()

dict_keys(['api-key'])

In [45]:
import tmdbsimple as tmdb
tmdb.API_KEY = login["api-key"]

In [46]:
# Make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

# Movie objects .info dict
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/ncEsesgOJDNrTUED89hYbA117wo.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 65.833,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 21610}

In [51]:
# Movie with rating function 
def get_movie_with_rating(movie_id):
    # Get the movie object for current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dict
    movie_info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases["countries"]:
        # if the country is == US
        if c["iso_3166_1"]== "US":
            movie_info["certification"]= c["certification"]
    return movie_info

In [52]:
get_movie_with_rating("603")

{'adult': False,
 'backdrop_path': '/ncEsesgOJDNrTUED89hYbA117wo.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 65.833,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 21610,
 'certification': 'R'}

In [64]:
import os 
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok = True)
os.listdir(FOLDER)

['title_basics.csv.gz', 'title_akas.csv.gz', 'title_ratings.csv.gz']

In [70]:
def write_json(new_data, filename):
    """"Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""
    
    with open(filename, "r+") as file:
        # First we load existing data into dict
        file_data = json.load(file)
        #chose extend or append
        if (type(new_data)==list) & (type(file_data)== list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        # Sets file's current position as offset
        file.seek(0)
        # convert back to json 
        json.dump(file_data, file)

In [62]:
# Load df from project part 1 as basics
basics = pd.read_csv("Data/title_basics.csv.gz")
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [55]:
YEARS_TO_GET = [2000,2001]

In [61]:
YEAR = YEARS_TO_GET[0]
YEAR

2000

In [75]:
# Start of outer loop 
for YEAR in tqdm_notebook(YEARS_TO_GET, desc = "YEARS",
                         position = 0):

    # Defining JSON file to store results for year
    JSON_FILE = f"{FOLDER}tmdb_api_results_{YEAR}.json"
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)


    # if it does not exist
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file
        with open(JSON_FILE,"w") as f:
            json.dump([{"imdb_id":0}],f)

    #Saving new year as the current df
    df = basics.loc[basics["startYear"]==YEAR].copy()
    #saving movide ids to list
    movie_ids= df["tconst"].copy()#.to_list()
    movie_ids

    # Load in existing data from json info df called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df

    # filter out any ids that are already in the JSON FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df["imdb_id"])]

    # Get index and movie id from list
    # INNER Loop 
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                 desc= f"Movies from{YEAR}",
                                 position = 1,
                                 leave = True):
        # Attempt to retrieve the data for the movie id 
        try: 
            temp = get_movie_with_rating(movie_id) # uses pre-made function
                #Append/Extend results to exisiting file using premade funct
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        # if it fails, make a dict with just id and none for certification
        except Exception as e:
            continue
   
    # Saving final df
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data{YEAR}.csv.gz",compression = "gzip", index = False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from2000:   0%|          | 0/1285 [00:00<?, ?it/s]

Movies from2001:   0%|          | 0/1521 [00:00<?, ?it/s]