# Project 3 - Part 3 Transformation Steps

In [112]:
# Imports 
import pandas as pd 
import numpy as np 

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

connection_str = "mysql+pymysql://slagana8:Runner1!28@localhost/movies"

In [113]:
# Create engine
engine = create_engine(connection_str)

In [114]:
# confirm it worked
engine

Engine(mysql+pymysql://slagana8:***@localhost/movies)

In [115]:
# Create database
create_database(connection_str)

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [ ]:
database_exists(connection_str)

## Normalize Genre:

In [77]:
# Load basics 
basics = pd.read_csv("Data/title_basics.csv.gz")
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [78]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79310 entries, 0 to 79309
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79310 non-null  object
 1   titleType       79310 non-null  object
 2   primaryTitle    79310 non-null  object
 3   originalTitle   79310 non-null  object
 4   isAdult         79310 non-null  int64
 5   startYear       79310 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  79310 non-null  int64
 8   genres          79310 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.4+ MB

In [79]:
# Create a new column with single-string genres as list of strings
basics["genres_split"] = basics["genres"].str.split(',')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller","[Horror, Music, Thriller]"

In [80]:
#  separate the list of genres into new rows: one row for each genre a movie belonged to.
exploded_genres = basics.explode("genres_split")
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
79308,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Action
79308,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Adventure
79308,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Thriller
79309,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
79309,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [81]:
# Explode the series using .explode() and take the unqiue() entries only 
unique_genres = basics["genres_split"].explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Music', 'Thriller', 'Mystery', 'Musical', 'Action', 'Adventure',
       'Crime', 'Animation', 'Family', 'History', 'War', 'Biography',
       'Sport', 'Western', 'Adult', 'Short', 'Reality-TV', 'News',
       'Talk-Show', 'Game-Show'], dtype=object)

In [82]:
# Get unique genres sorted alphabetically 
unique_genres = sorted(exploded_genres["genres_split"].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

## Create a new title_genres table

In [83]:
title_genres = exploded_genres[["tconst","genres_split"]].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

## Create a genre mapper dictionary to replace string genres with integers

In [84]:
# Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [85]:
# Make a dictionary with list of unique genres as the key and the new integer id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

## Replace the string genres in title_genres with the new interger ids

In [86]:
title_genres["genre_id"]= title_genres["genres_split"].map(genre_map)
title_genres = title_genres.drop(columns = "genres_split")
title_genres

          tconst  genre_id
0      tt0035423         5
0      tt0035423         9
0      tt0035423        18
1      tt0062336         7
2      tt0069049         7
...          ...       ...
79308  tt9916190         0
79308  tt9916190         2
79308  tt9916190        23
79309  tt9916362         7
79309  tt9916362        11

[148317 rows x 2 columns]

## Convert the genre map dictionary into a dataframe.

In [87]:
# Manually make dataframe with named cols from .keys and .values
genres = pd.DataFrame({"genre_name": genre_id_map.keys(),
                            "genre_id": genre_id_map.values()})
genres.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# Saving MySQL tables with tconst as primary key

## Creating a datatype scheme for to_sql:

In [88]:
# Drop unnecessary columns 
basics.drop(columns = ["originalTitle","isAdult","titleType","genres","genres_split"], inplace = True)

In [89]:
# checking the dataypes for basics
basics.dtypes

tconst             object
primaryTitle       object
startYear           int64
endYear           float64
runtimeMinutes      int64
dtype: object

In [96]:
from sqlalchemy.types import *
# Calculate max string lengths for object columns
key_len = basics["tconst"].fillna('').map(len).max()
title_len = basics["primaryTitle"].fillna('').map(len).max()
# Create scheme dict sqlalachemy datatype objects
df_scheme = {
    "tconst": String(key_len+1),
    "primaryTitle": Text(title_len+1),
    "startYear":Float(),
    "endYear":Float(),
    "runtimeMinutes":Integer()}

In [98]:
# Save to sql 
basics.to_sql("title_basics",engine,dtype=df_scheme, if_exists = "replace", index = False)

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [91]:
# checking the datatypes of title_genres table
title_genres.dtypes

tconst      object
genre_id     int64
dtype: object

In [92]:
# checking the datatypes of genres table
genres.dtypes

genre_name    object
genre_id       int64
dtype: object

In [93]:
# load in title_ratings and check datatypes
title_ratings = pd.read_csv("Data/title_ratings.csv.gz")
title_ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [94]:
# load in tmbd_data and check datatypes
tmdb_data = pd.read_csv("Data/tmdb_results_combined.csv.gz")
tmdb_data.dtypes

imdb_id                   object
adult                    float64
backdrop_path             object
belongs_to_collection     object
budget                   float64
genres                    object
homepage                  object
id                       float64
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                    float64
vote_average             float64
vote_count               float64
certification             object
dtype: object

In [95]:
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN
1,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,4.4,7.0,NaN
2,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
3,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,1882.0,PG
4,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.9,46.0,R